<template>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">

            <h3><strong>{{ findBook.title }}</strong></h3>

            <h4>{{ findBook.author }}</h4>
            <strong>ISBN: </strong>{{ findBook.isbn }}<br>
            Item added: {{ findBook.created }}
            <hr>
            {{ findBook.description }}
            <br><br>
            <router-link
                    tag="button"
                    :to="{name: 'add', query: { id: findBook.id }}"
                    class="btn btn-primary">Edit Book
            </router-link>
            <button class="btn btn-danger" @click="removeBook">Delete Book</button>
        </div>
    </div>
</template>

<script src="./books-view.js">
</script>

<style scoped>
</style>