<template>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                ©{{ new Date().getFullYear() }}
            </footer>
        </div>
    </div>
</template>

<script>
</script>

<style>
</style>