<template>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="nav nav-pills">
                <router-link to="/" tag="li" active-class="active" exact><a>Home</a></router-link>
                <router-link to="/books" tag="li" active-class="active"><a>Books</a></router-link>
                <router-link to="/add" tag="li" active-class="active"><a>Add Book</a></router-link>
            </ul>
        </div>
    </div>
</template>

<script>
</script>

<style scoped>
</style>