hr {
    margin: 5px;
}

ul {
    margin: 10px;
}

.book {
    border: 1px solid lightgrey;
    margin: 5px;
    padding: 15px;
}

.pages {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.page-btn{
    border: 1px solid white;
    background-color: white;
}

.page-btn:hover, .page-btn-active:hover {
    background-color: royalblue;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.page-btn-active, .page-btn-active:focus {
    background-color: cornflowerblue;
    color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.search-field {
    width: 50%;
    margin: 5px;
}

footer {
    text-align: center;
}


