<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <transition name="fade">
                    <div v-if="showAddMessage" class="alert alert-success">
                        Thank you. The book was added to our storage.
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showRemoveMessage" class="alert alert-warning">
                        The book was removed successfully.
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showUpdateMessage" class="alert alert-info">
                        The book was updated successfully.
                    </div>
                </transition>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 search">
                <input class="search-field" type="text" @input="filterRecords" v-model="searchField" placeholder="Search by title..."/>
                <div v-if="notFound" class="alert-danger">
                    Sorry, no matching results.
                </div>
                <pagination :books="books" v-if="!notFound"></pagination>
            </div>
        </div>
        <br><br>
        <div class="row" v-if="!notFound">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="pages">
                    <span class="page-number" v-for="page in totalPages">
                        <button :class="page == currentPage ? 'page-btn-active' : 'page-btn'" @click="getPage($event)" :value="page">{{ page }}</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./books.js">
</script>

<style scoped>
</style>