<template>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            Welcome to this private library collection! Feel free to get info or add new books.
        </div>
    </div>
</template>

<script>
</script>

<style scoped>
</style>