<template>
    <div>
        <div class="book" v-for="book in books">
            <router-link :to="{name: 'view', params: { id: book.id }}">
                <h3><strong>{{ book.title }}</strong></h3>
            </router-link>
            <h4>{{ book.author }}</h4>
            <hr>
            <strong>ISBN: </strong>{{ book.isbn }}<br>
            {{ book.description }}
            <br>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'books'
        ]
    }
</script>

<style>
</style>