<template>
    <form>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Add new book</h1>
                <br>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input
                        type="text"
                        id="title"
                        class="form-control"
                        v-model.lazy="newBook.title">
                </div>
<!-- autocomplete -->
                <div class="form-group">
                    <label for="author">Author</label>
                    <autocomplete
                            id="author"
                            :source="books"
                            resultsDisplay="author"
                            @selected="addDistributionGroup"

                    >
                    </autocomplete>
                </div>
<!------------------>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input
                        type="text"
                        id="isbn"
                        class="form-control"
                        v-model.lazy="newBook.isbn">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                <label for="description">Description</label><br>
                <textarea
                        id="description"
                        rows="5"
                        class="form-control"
                        v-model="newBook.description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                <button class="btn btn-success" @click.prevent="$route.query.id ? updateBook() : addBook()">Save</button>
            </div>
        </div>
    </form>
</template>

<script src="./book-add.js">
</script>

<style scoped>
</style>