<template>
    <div class="container">
          <app-header></app-header>
          <hr>
          <div class="row">
              <router-view></router-view>
          </div>
          <hr>
          <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './components/Wrap/Header.vue';
    import Footer from './components/Wrap/Footer.vue';
    import Books from './components/Books/Books.vue';

    export default {
        components: {
            appHeader: Header,
            Books,
            'app-footer': Footer
        }
    }
</script>

<style>
    @import '/src/assets/css/styles.css';
</style>
